.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 8px 8px 16px 8px;
  font-family: 'Roboto', sans-serif;
}

.urlInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  label {
    width: 235px;
    height: 24px;
    border-radius: 50px;
    padding: 4px 10px;
    background-color: #D3D4D8;
    color: #505565;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    line-height: 16px;
  }
}

.renderInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;

  span:last-child {
    font-size: 16px;
    line-height: 24px;
    color: #232735;
  }
}

.title {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #8B90A0;
}
