.viewer {
  display: flex;
  flex-direction: column;
  background-color: #E7E7E7;
  height: 100vh;
  padding: 16px;
  overflow: hidden;
}

.controls {
  margin: 0 auto;
  width: 610px;
}

.documentWrapper {
  height: 100%;
  touch-action: none;
}

.document {
  height: 100%;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.1));
}
